
body {
  background-color: #7538f0a2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.skill {
  font-size: 96px;
  margin-bottom: 5px;
}

.miesp {
  font-size: 28px;
  margin-top: 0;
}

.bloque1 {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #7538f0a2, #5b2cc7);
}

.fotoalbum img {
  width: 25%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.TP1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.bloque2 {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #5b2cc7, #3a1c8f);
}

.taek img {
  width: 30%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 80px rgba(13, 192, 227, 0.9);
}


.p2 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos2 ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.TP2 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.bloque3 {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #3a1c8f, #1f0d52);
}

.RL img {
  width: 25%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 80px rgba(242, 165, 21, 0.9);
}

.p3 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos3 ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.TP3 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.bloque4 {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #1f0d52, #12001f);
}

.Jinx img {
  width: 18%;
  height: 25%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 80px rgb(109, 1, 139);
}

.p4 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos4 ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.TP4 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}




