
body {
  background-color: #7538f0a2;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.fotoalbum img {
  width: 25%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);

}

.p1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.TP1 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.skill {
  font-size: 96px;
}


.miesp {
  font-size: 28px;
}

.skill {
  margin-bottom: 5px;
}

.miesp {
  margin-top: 0;
}

.TP2 {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.textopasatiempos2 ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}