
body {
  background-color: #ac04f431;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

.fotomia {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.textopasatiempos ul {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.H2Tex {
  list-style-position: inside;
  padding: 0;
  text-align: center;
}

.skill {
  font-size: 96px;
}


.miesp {
  font-size: 28px;
}

.skill {
  margin-bottom: 5px;
}

.miesp {
  margin-top: 0;
}
